.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    padding-top: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #015D89;
    
    img {
        width: 15%;
    }
}

.footer {
    text-align: center;
    border-top: 1px solid #E5E5E5;
    position: absolute;
    padding-top: 6px;
    bottom: 0;
    width: 100%;
}
.empty-row {
    height: 10px;
    margin: 10px 0;
    clear: both;
}