<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <div class="row">
      <h1>Welcome to Virtual Library Concept!</h1>
      <p class="lead">Best way to get your books!</p>
      <img src="assets/images/lib-clip-logo.png" alt="My Books">
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Access your account</h4>
            <div class="col-md-6 col-md-offset-3">
                <a href="/login" class="col-md-6 btn btn-lg btn-primary btn-block" type="submit">Login</a>
            </div>
        </div>
       <div class="empty-row"></div>
        <div class="col-md-12">
            <h4> Don't have an account?</h4>
            <div class="col-md-6 col-md-offset-3">
                <a href="/signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</a>
            </div>
        </div>
    </div>
  </div>
</header>

<footer class="footer">
  <div class="container">
      <p>Mahesh Thumar -
        <a href="mailto:thumarmahesh@gmail.com">thumarmahesh@gmail.com</a> |
         <a href="https://bitbucket.org/mthumar/library-app/overview">Source</a></p>
  </div>
</footer>
