.data-label {
    font-size: 18px;
    color: #b5b5b5;
    text-align: right;
    @media (max-width: 767px) {
        text-align: left;
    }
}
.action-cell {
    width: 250px;
}
.data-input {
    font-size: 18px;
    width: 100%;
}
.data-input-checkbox {
    width: 34px;
}
.book-front {
    border: 1px solid #b5b5b5;
    border-radius: 2px;
    padding: 0px 20px 10px 20px;
    margin: 15px 0;
}
.btn-space {
    margin-left: 5px;
}
.book-name, .author-name {
  width: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.book-desc {
  display: block;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}