<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row text-center" ng-if="error">
      <h3>There was some error in server. Please try againg later.</h3> 
    </div>
    <div class="empty-row"></div>
    <form ng-if="!error" name="myForm" ng-submit="save()">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <h1>{{book.name}}</h1>
            </div>
            
            <div class="empty-row"></div>
            
            <div class="col-sm-5 col-md-5 text-center">
                <h3 class="data-label">Authored by </h3>
            </div>
            <div class="col-sm-6 col-md-6">
                <h3>{{ book.author }} </h3>
            </div>

            <div class="col-sm-5 col-md-5 text-center">
                <h3 class="data-label">Available Edition </h3>
            </div>
            <div class="col-sm-5 col-md-5">
                <h3>{{ book.edition }} </h3>
            </div>

            <div class="col-sm-5 col-md-5 text-center">
                <h3 class="data-label">About this book </h3>
            </div>
            <div class="col-sm-5 col-md-5">
                <h3>{{ book.about }} </h3>
            </div>

            <div class="col-sm-5 col-md-5 text-center">
                <h3 class="data-label">Total pages of the book </h3>
            </div>
            <div class="col-sm-5 col-md-5">
                <h3>{{ book.numberOfPages }} </h3>
            </div>
            
            <div class="col-sm-12 col-md-12 text-center">
                <h5 ng-show="book.isPublished">Book is published and available for purchasing.</h5>
                <h5 ng-show="!book.isPublished">Book is not published yet.</h5>
            </div>            
            
            <div class="empty-row"></div>
    
            <div class="col-sm-3 col-md-2 col-sm-offset-3 col-md-offset-3">
                <a href="book/{{book._id}}" class="btn btn-primary btn-lg btn-block">Edit Details</a>
            </div>
            <div class="col-sm-3 col-md-2">
                <a ng-click="deleteBook(book)" class="btn btn-danger btn-lg btn-block">Delete book</a>
            </div>
            <div class="col-sm-3 col-md-2">
                <a href="/home" class="btn btn-default btn-lg btn-block">Back to Books list</a>
            </div>
        </div>
    </form>
    
</div>
