<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-if="loading" class="container text-center">
    Please wait we are loading the books!
</div>
<div ng-if="!booksList.length && !loading" class="container text-center">
    <div class="empty-row"></div>
    <h4> Looks like a new library, No Books found in the Library! </h4>
    <h3>
        <a href="/newbook">Add books</a>
    </h3>
</div>

<div ng-if="booksList.length" class="container">
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="serchBook" placeholder="Search books" />
        </div>
        <div class="col-md-8">
            <a href="/newbook" title="Add new book" type="button" class="btn btn-default pull-right btn-space">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <div class="btn-group pull-right" role="group">
              <button ng-click="changeView(true);" title="Tabular view" ng-class="{'active':tabularView}" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-align-justify"></span>
              </button>
              <button ng-click="changeView(false);" title="Grid view" ng-class="{'active':!tabularView}" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-th-large"></span>
              </button>
            </div>
        </div>
    </div>
    <div ng-if="tabularView" class="row">
        <div class="empty-row"></div>
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Book Name </th>
                        <th> Description </th>
                        <th> Author </th>
                        <th class="action-cell"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in booksList | filter:serchBook">
                        <td> {{$index+1}} </td>
                        <td> {{book.name}} </td>
                        <td> {{book.about}} </td>
                        <td> {{book.author}} </td>
                        <td> 
                            <a href="/bookDetails/{{book._id}}" class="btn btn-default"> <span class="glyphicon glyphicon-list-alt"></span>  View details »</a>
                            <a href="/book/{{book._id}}" class="btn btn-primary btn-space"> <span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="javascript:void(0);" ng-click="deleteBook(book)" class="btn btn-danger btn-space"> <span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="!tabularView">
        <div class="row">
            <div ng-repeat="book in booksList | filter:serchBook" class="col-xs-6 col-lg-4">
                <div class="book-front">
                  <h2 class="book-name" title="{{book.name}}">{{book.name}}</h2>
                  <p class="book-desc">{{book.about}}</p>
                  <blockquote class="blockquote-reverse">
                    <footer class="author-name">{{book.author}}</footer>
                  </blockquote>
                  <p>
                    <a href="/bookDetails/{{book._id}}" class="btn btn-default"> <span class="glyphicon glyphicon-list-alt"></span>  View details »</a>
                    <a href="/book/{{book._id}}" class="btn btn-primary"> <span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    <a href="javascript:void(0);" ng-click="deleteBook(book)" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span> Delete</a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>