<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div ng-if="successMessage" class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{successMessage}}.
    </div>
    <div class="empty-row"></div>
    <form name="myForm" ng-submit="save()">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-md-offset-1 data-label">
                Book Name
            </div>
            <div class="col-sm-8 col-md-8">
                <input class="form-control data-input" name="name" ng-model="book.name" type="text" autofocus required/>
            </div>
            
            <div class="empty-row"></div>
            
            <div class="col-sm-2 col-md-2 col-md-offset-1 data-label">
                Author
            </div>
            <div class="col-sm-8 col-md-8">
                <input class="form-control data-input" name="author" ng-model="book.author" type="text"  required/>
            </div>
            
            <div class="empty-row"></div>
            
            <div class="col-sm-2 col-md-2 col-md-offset-1 data-label">
                Edition
            </div>
            <div class="col-sm-8 col-md-8">
                <input class="form-control data-input" ng-model="book.edition" type="text"/>
            </div>
            
            <div class="empty-row"></div>
            
            <div class="col-sm-2 col-md-2 col-md-offset-1 data-label">
                Description
            </div>
            <div class="col-sm-8 col-md-8">
                <textarea class="form-control data-input"  rows="3"  ng-model="book.about" type="text" minlength="50" required/>
            </div>
            
            <div class="empty-row"></div>
            
            <div class="col-sm-2 col-md-2 col-md-offset-1 data-label">
                Total Pages
            </div>
            <div class="col-sm-8 col-md-8">
                <input class="form-control data-input" ng-model="book.numberOfPages" type="number"/>
            </div>
            
            <div class="empty-row"></div>
            
            <div class="col-sm-2 col-md-2 col-md-offset-1 data-label">
                Is Published?
            </div>
            <div class="col-sm-8 col-md-8">
                <input class="form-control data-input-checkbox" ng-model="book.isPublished" type="checkbox"/>
            </div>
            
            <div class="empty-row"></div>
    
            <div class="col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-3">
                <button ng-if="!bookId"  type="submit" class="btn btn-primary btn-lg btn-block">Add Book</button>
                <button ng-if="bookId"  type="submit" class="btn btn-primary btn-lg btn-block">Update Details</button>
            </div>
            <div class="col-sm-4 col-md-4">
                <a href="/home" class="btn btn-default btn-lg btn-block">Cancel</a>
            </div>
        </div>
    </form>
    
</div>
